<div class="checkout-summary">
  <div class="checkout-header">
    <h2>Check out now</h2>
    <p>Please enter your details, and we'll ship your sushi right away!</p>
  </div>

  <form name="shippingForm" class="form-horizontal" role="form" novalidate>
    <!-- <div class="well"> -->
      <h3>Ship to</h3>
      <!-- Name -->
      <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Full Name</label>
        <div class="col-sm-10">
          <input name="name" id="inputName3" class="form-control" ng-model="data.shipping.name" required />
          <span class="error" ng-show="shippingForm.name.$error.required">Please enter your name</span>
        </div>
      </div>

      <h3>Address</h3>

      <div class="form-group">
        <label for="inputAddress3" class="col-sm-2 control-label">Street Address</label>
        <div class="col-sm-10">
          <input name="street" id="inputAddress3" class="form-control" ng-model="data.shipping.street" required />
          <span class="error" ng-show="shippingForm.street.$error.required">Please enter a street address</span>
        </div>
      </div>

      <div class="form-group">
        <label for="inputCity3" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">      
          <input name="city" id="inputCity3" class="form-control" ng-model="data.shipping.city" required />
          <span class="error" ng-show="shippingForm.city.$error.required">Please enter a city</span>
        </div>
      </div>

      <div class="form-group">
        <label for="inputProvince3" class="col-sm-2 control-label">Provice</label>
        <div class="col-sm-10">
          <input name="province" id="inputProvince3" class="form-control" ng-model="data.shipping.province" required />
          <span class="error" ng-show="shippingForm.province.$error.required">Please enter a province</span>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPostal3" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-10">
          <input name="postalcode" id="inputPostal3" class="form-control" ng-model="data.shipping.postalcode" required />
          <span class="error" ng-show="shippingForm.postalcode.$error.required">Please enter a postal code</span>
        </div>
      </div>

      <h3>Options</h3>
      <div class="checkbox">
        <label>
          <input name="giftwrap" type="checkbox" ng-model="data.shipping.giftwrap" />
          Pay with cash?
        </label>
      </div>

      <div class="text-center">
        <button ng-disabled="shippingForm.$invalid" ng-click="sendOrder(data.shipping)" class="btn btn-primary">Place order</button>
      </div>  
    <!-- </div> -->
  </form>
